/*---------- All Common ----------*/
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;

  --color-black: #0e111b;
  --color-black-40: rgba(14, 17, 27, .4);
  --color-black-60: rgba(14, 17, 27, .6);
  --color-black-80: rgba(14, 17, 27, .8);
  --color-white: #fff;
  --color-yellow: #ffd900;
  --color-red: #e20025;
  --color-blue: #004e98;

  --bg-white: rgba(255, 255, 255, .8);
  --box-shadow: 0 0px 20px rgba(0, 0, 0, 0.07), 0 0px 20px rgba(0, 0, 0, 0.07);
  --text-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
  --border-black: 3px solid #0e111b;
  --border-whtie: 3px solid #fff;
}

body {
  font-family: "NanumBarunGothic", "Rubik", Helvetica, "Apple SD Gothic Neo", Dotum, 돋움, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: .05rem;
  color: var(--color-black);
  background: url("../assets/images/bg_main.jpeg") no-repeat center / cover fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  display: block;
  font-family: "NanumBarunGothic", "Rubik", Helvetica, "Apple SD Gothic Neo", Dotum, 돋움, sans-serif;
  color: var(--color-black);
  font-size: 1.8rem;
  letter-spacing: .05rem;
  background-color: transparent;
  border: 0;
  outline: none;
}

button:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

a,
button {
  cursor: pointer;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05rem;
  background-color: var(--color-black);
  border: var(--border-black);
  transition: background-color .3s, color .3s;
  cursor: pointer;
}

.btn:hover {
  color: var(--color-black);
  background-color: var(--color-yellow);
}

.btn-cancel {
  color: var(--color-black);
  background-color: var(--bg-white);
}

.btn-cancel:hover {
  color: var(--color-white);
  background-color: var(--color-red);
}

.btn__group {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}

.btn__group .btn {
  flex-grow: 1;
  flex-basis: 0;
}

.form {
  max-width: 45rem;
  width: 100%;
  margin: 0 auto;
}

.form__field {
  margin-top: 1.5rem;
  text-align: left;
}

.form__field label {
  font-weight: 500;
}

.form__field input,
.form__field textarea {
  width: 100%;
  margin-top: .4rem;
  padding: 1rem 1.5rem;
  border: var(--border-black);
  background-color: var(--bg-white);
}

.form__field textarea {
  resize: none;
}

.form__field input:focus {
  border-color: var(--color-yellow);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.search input:focus {
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
}

.checkbox .label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--bg-white);
  border: var(--border-black);
}

.checkbox .checkmark i {
  display: none;
  font-size: 1.8rem;
}

.checkbox input:checked~.checkmark i {
  display: block;
}

.inner-wrap {
  max-width: 135rem;
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: block;
  --width: 12rem;
  width: var(--width);
  height: calc(var(--width) * 2 / 3);
  background: url("../assets/images/logo_toystory.svg") no-repeat center / contain;
}

.logo--black {
  display: block;
  width: var(--width);
  height: calc(var(--width) * 2 / 3);
  background: url("../assets/images/logo_toystory_black.svg") no-repeat center / contain;
}

h1.title {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 4.8rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  font-weight: 800;
}

h1.title .logo--black {
  display: inline-block;
  --width: 9rem;
  vertical-align: middle;
}

/*---------- Header ----------*/
/* Header */
.header {
  position: fixed;
  top: 4rem;
  left: 2.8rem;
}

/*---------- Main ----------*/
.headline {
  padding-top: 15rem;
}

/* Character List */
.characters>.text {
  margin-bottom: 2rem;
  font-weight: 300;
  letter-spacing: .1rem;
}

.characters .btn__group {
  margin-bottom: 5rem;
}

.characters .btn__group .btn {
  height: 5.4rem;
  font-size: 1.7rem;
}

.character__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 8rem 4rem;
  padding-bottom: 12rem;
}

.character__item {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 5.5rem 4.5rem 3.8rem;
  text-align: center;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
}

.character__item .checkbox {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.character__item .img-wrap {
  --width: 33rem;
  max-width: 100%;
  width: var(--width);
  height: calc(var(--width) * 2 / 3);
  margin: 0 auto 2.5rem;
  border: var(--border-black);
}

.character__item .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character__item .item-info {
  margin-bottom: auto;
}

.character__item .info {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 2.6rem;
  font-size: 2rem;
  text-align: left;
}

.character__item .info i {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  color: var(--color-black);
  font-size: 1.7rem;
}

.character__item .info.kind i {
  top: 5px;
  left: 2px;
}

.character__item .name {
  display: block;
  position: relative;
  padding-bottom: .8rem;
  margin-bottom: 1.6rem;
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
}

.character__item .name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-black);
}

.character__item .btn {
  margin-top: 2rem;
}

.character__item .text-small {
  display: inline-block;
  text-transform: lowercase;
  margin-right: 6px;
}

/* Search */
.search {
  max-width: 60rem;
  display: flex;
  margin: 0 auto 5rem;
}

.search input {
  flex-grow: 1;
  padding: 0 2rem;
  font-size: 1.8rem;
  background-color: var(--bg-white);
  border: var(--border-black);
}

.search input::placeholder {
  color: var(--color-black-40);
}

.search .btn {
  width: 5.8rem;
  height: 5.8rem;
  margin-left: -3px;
  padding: 0;
  font-size: 2rem;
}

/* Profile Common */
.profile {
  width: 70rem;
  margin: 6rem auto 3rem;
  text-align: center;
}

.profile-inner {
  padding: 5rem 4.5rem 4.5rem;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
}

.profile h1.title {
  margin-bottom: 3rem;
  font-size: 4.2rem;
}

.profile .btn__group {
  margin-top: 4rem;
}

/* Profile - NEW */
.upload-file .img-view {
  display: block;
  position: relative;
  width: 100%;
  height: 25rem;
  border: var(--border-black);
  object-fit: contain;
}

.upload-file .btn__group {
  margin-top: 1.5rem;
}

.upload-file .btn__group .btn {
  width: 100%;
}

.upload-file .btn-cancel {
  display: none;
}

.upload-file .btn-cancel.is-active {
  display: block;
}

.upload-file .input-file {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
}

/* Profile - VIEW */
.view-profile .form__field input {
  border-color: var(--color-white);
  background-color: var(--color-white);
}

/*---------- Footer ----------*/
/* Footer */
.footer {
  padding: 3rem;
  text-align: center;
  color: var(--color-black-80);
}


/*---------- Loading ----------*/
.loading-wrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 50;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black-60);
  transition: .3s;
}

.loading {
  display: flex;
  justify-content: center;
  column-gap: 2.3rem;
}

.loading li {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  animation: loading 1s 0s linear infinite;
}

.loading li:nth-child(1) {
  animation-delay: 0s;
  background-color: var(--color-red);
}

.loading li:nth-child(2) {
  animation-delay: 0.2s;
  background-color: var(--color-yellow);
}

.loading li:nth-child(3) {
  animation-delay: 0.4s;
  background-color: var(--color-blue);
}

@keyframes loading {

  0%,
  100% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

/*---------- Media Query ----------*/
@media all and (max-width: 1599px) {
  .inner-wrap {
    max-width: 120rem;
  }

  .character__list {
    column-gap: 1.5rem;
  }

  .character__item {
    padding: 5.5rem 3.5rem 3rem;
  }

  .character__item .img-wrap {
    --width: 31rem;
  }
}

@media all and (max-width: 1269px) {
  .inner-wrap {
    padding: 0 5rem;
  }

  .character__item {
    flex-basis: auto;
    width: calc(49% - 1rem);
  }

  .character__item .img-wrap {
    width: 100%;
    --width: 35rem;
  }
}

@media all and (max-width: 1023px) {
  .logo {
    --width: 10rem;
  }

  .search {
    margin-bottom: 3rem;
  }

  .headline {
    padding-top: 12rem;
  }

  h1.title {
    font-size: 4.2rem;
    margin-bottom: 3rem;
  }

  h1.title .logo--black {
    --width: 6rem;
  }

  .character__list {
    row-gap: 4rem;
  }

  .characters>.text {
    margin-bottom: 1rem;
  }

  .characters .btn__group {
    margin-bottom: 3rem;
  }

  .character__list {
    padding-bottom: 6rem;
  }

  .footer {
    padding: 2rem 0;
  }
}

@media all and (max-width: 767px) {
  html {
    font-size: 9px;
    --border-black: 2px solid #0e111b;
  }

  body {
    line-height: 1.1;
  }

  .header {
    top: 2.2rem;
    left: 1.5rem;
  }

  .logo {
    --width: 8rem;
  }

  .headline {
    padding-top: 8rem;
  }

  h1.title {
    font-size: 3.6rem;
    margin-bottom: 2rem;
    padding: 0 3rem;
  }

  .search {
    max-width: 100%;
    margin-bottom: 1.5rem;
    padding: 0 3rem;
  }

  .search .btn {
    width: 4.8rem;
    height: 4.8rem;
  }

  .inner-wrap {
    padding: 0 3rem;
  }

  .characters .btn__group {
    display: block;
    margin-bottom: 0;
  }

  .characters .btn__group .btn {
    width: 100%;
    margin-bottom: 2rem;
  }

  .character__list {
    display: block;
    padding-bottom: 0;
  }

  .character__item {
    width: 100%;
    margin-bottom: 5rem;
  }

  .characters .btn__group .btn {
    height: 4.8rem;
    margin-bottom: 1.5rem;
  }

  .profile h1.title {
    font-size: 3.6rem;
  }

  .profile-inner {
    height: 100vh;
    padding: 8rem 3rem 0;
  }

  .profile {
    width: 100%;
    margin: 0;
  }

  .profile h1.title {
    margin-bottom: 2rem;
  }

  .profile .btn__group {
    margin-top: 1.8rem;
  }

  .upload-file .img-view {
    height: 20rem;
  }

  .upload-file .btn__group {
    margin-top: 1.2rem;
  }

  .form__field {
    margin-top: .8rem;
  }

  .footer {
    display: none;
  }

  .loading {
    column-gap: 1.5rem;
  }

  .loading li {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    animation: loading 1s 0s linear infinite;
  }
}

@media all and (max-width: 429px) {
  h1.title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
}